body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f9;
}
.receipe-menu
{
    width:40px;
    height:40px;
    position:fixed;
    top:10%;
    right:5%;
    z-index:300;

}
.menu 
{
    width:100%;
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    cursor:pointer;
    transition: tranform .5s;
}
.menu-line
{
   width:100%;
   height: 4px;
   background-color:#070707; 
   transform-origin:right ;
   transition: all .5s .5s;


}
.navbar
{
    position:relative;
    z-index:200;
}

.left-img
{
    width:50%;
    position:absolute;
    box-shadow:0 15px 60px rgba(#000,.4);
    opacity:.7;
    border-radius: 10px;

}
.left-img-1
{
    top:15%;
    left:15%

}
.left-img-2
{
    top:35%;
    left:25%

}
.left-img-3
{
    top:55%;
    left:35%

}
.navbar-navigation
{
    display:flex;
}
.navbar-navigation-left
{
    width:50vw;
    height:100vh;
    background-color: #2626;
    position:fixed;
    left:-50vw;
    transition: left .8s cubic-bezier(1,0,0,1);

}
.navbar-navigation-right
{
    width:50vw;
    height:100vh;
    background-color: #1f1d1d;
    position:fixed;
    right:-50vw;
    display:flex;
    justify-content:center;
    align-items:center;
    transition: right .8s cubic-bezier(1,0,0,1);

}
.nav-list-item
{
    list-style: none;


}
.nav-list-link
{
    font-family: "Satisfy", cursive;
    font-size:50px;
    font-weight: 300;
    letter-spacing:2px ;
    text-transform: capitalize;
    color:#353434;
    text-decoration: none;
    font-style: normal;
    display:block;
    margin:20px;
    text-align:center;
    transition: all .5s;

}
.nav-list-link:hover
{
    color:#d3ab55;
    letter-spacing: 4px;
    
}
#mysign
{
    font-family: Arial, Helvetica, sans-serif;
    color:#f6f6f9;
    font-size: 20px;
    transition: all .5s;

}
#newlink
{
    color:#f6f6f9;
    text-decoration: none;

}
#newlink:hover
{
    color:#d3ab55;

}
#mysign:hover
{
    color:#d3ab55;

}
.checkbox:checked ~ .navbar-navigation .navbar-navigation-left
{
    left:0;

}
.checkbox:checked ~ .navbar-navigation .navbar-navigation-right
{
    right:0;

}
.checkbox:checked ~ .receipe-menu .menu
{
    transform: rotateZ(90deg);

}
.checkbox:checked ~ .receipe-menu .menu-line-1
{
    transform: rotateZ(-40deg);

}
.checkbox:checked ~ .receipe-menu .menu-line-2
{
    opacity:0;

}
.checkbox:checked ~ .receipe-menu .menu-line-3
{
    transform: rotateZ(40deg);

}
.header {
    width: 100%;
    height: 100vh;
    background-image: url("/images/white.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position:top;
    position:relative;
    filter: brightness(110%); /* Reduce the brightness of the background image */
}
.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#f6f6f9);
    opacity: 0.5;
    
}
.brand
{
    position:absolute;
    top:15%;
    left:50%;
    transform: translate(-50%,-50%);
    
    line-height: 0%;
    display:flex;
    align-items: center;
  
}


.search-container
{
    position:absolute;
    top: 50%;
    left:45%;
}


.logo
{
    font-size: 70px;

    display:flex;
    justify-content: center;
    align-items:center ;
    width:110px;
    height: 110px;
   
    border-radius: 50%;
    margin-right: 20px;
}
.main-name
{
    font-family: 'Phosphate',sans-serif;
    font-size:50px;
    color:#141313;
    font-weight: 300;
    letter-spacing:2px ;
    text-transform: uppercase;

}
.sub-name
{
    font-family: 'Josefin Sans',sans-serif;
    font-size: 18px;
    color:#070707;
    font-weight:bolder;
    text-align: center;
    
    letter-spacing:2px ;
    text-transform: uppercase;
    
}
.header-banner
{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    color:#353434;
}
.main-heading
{
    font-family: "Great Vibes", cursive;
    font-size: 60px;
    font-weight: 300;
    color:#d3ab55;
    margin-bottom: 20px;
    font-style: italic;
}

.search-container {
    align-items: center;
  }





.sub-headng
{
    font-family: 'Josefin Sans',sans-serif;
    font-size: 60px;
    font-weight: 300;
    color:#bbb;
    margin-bottom: 80px;
}
.about-btn
{
  display: inline-block;
  background-color: #d3ab55;
  color: #262626;
  padding: 10px 20px;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
.about-btn:hover
{
  background-color: #262626;
  color: #d3ab55;

}
.about-us
{
    height: 150vh;
    display:flex;
    align-items: center;

}
.description {
    font-size: 18px;
    line-height: 1.5;
    color: #262626df;
    margin-top: 20px;
    max-width: 500px;
  }
 
  .description p {
    margin-bottom: 20px;
    color:#141313f1;
    font-style: italic;
  }
  
  .description i {
    font-style:normal;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #df9a04;
  }
.gallery
{
    display:flex;
    flex-wrap:wrap;
}

.card
{
    width:33.3333%;
    height: 30vw;
    position:relative;
    overflow: hidden;


}

.card-wrapper
{
    display:flex;
    flex-wrap: wrap;

}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .5;
    transition: transform .3s ease-in-out;
      
}

.card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#d3ab55, .6);
    color: #040404;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: left .7s;
    
    
}
  
  .card:hover .card-overlay {
    opacity: 1;
    
 
  }

.card-overlay-heading
{
    font-family: 'Phosphate',sans-serif;
    font-size: 50px;
    font-weight: 300;
    letter-spacing:2px ;
    text-transform: capitalize;
}
.card-overlay-paragraph
{
    font-family: 'Oriya MN',sans-serif;
    font-size: 30px;
    font-weight: 300;
    letter-spacing:2px ;
    text-transform: capitalize;
    margin-bottom: 30px;

}
.card-overlay-btn
{
    width: 150px;
    height: 40px;
    color:#d3ab55;
    background-color: #fff;
    font-family: 'Josefin Sans',sans-serif;
    font-size: 14px;
    font-weight:bold ;
    text-transform: uppercase;
    letter-spacing: 1px;
    border:1px solid #d3ab55;
    border-radius:30px;
    outline:none;
    cursor:pointer;
}

.footer
{
    padding:70px 0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}
.footer-header
{
    display:flex;
    align-items: center;
    margin-bottom:70px;

}
.head1
{
    line-height: 10px;
}
.social-media
{
    display:flex;
    width:300px;
    justify-content: space-between;
    margin-bottom: 70px;
}
.social-media-item
{
    list-style:none;
    
}
.social-media-link
{
    text-decoration: none;
    font-size:50px ;
    color:#545454;
    transition:color .7s;
}
.social-media-link:hover
{
    color:#d3ab55;
}
.footer-copyright-paragraph
{
    font-family:'Josefin Sans',sans-serif;
    font-size:18px;
    color:#555454;
    font-weight: 300;
    letter-spacing:2px ;
    text-transform: capatalize;
    align-items: center;

}

.col-auto
{
    border: 70px;
    color:black;
}
